<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <img class="img-fluid" src="../../assets/images/logo2.png" alt="Stringhini Marketing - Varejo Inteligente">
        <div class="icons-footer">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-youtube"></i>
          <i class="fa fa-instagram"></i>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h3 class="text-left title-footer">ÚLTIMAS DO BLOG</h3>

        <div class="cx-txt-footer">
            <h4>
                Por que o sortimento é essencial
                para o sucesso de uma loja?
            </h4>
            <p>
              10 de abril de 2018
            </p>
            <a href="#">
              Leia mais
            </a>
        </div>
        <div class="cx-txt-footer">
            <h4>
                Por que o sortimento é essencial
                para o sucesso de uma loja?
            </h4>
            <p>
              10 de abril de 2018
            </p>
            <a href="#">
              Leia mais
            </a>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h3 class="text-left title-footer">NOSSOS E-BOOKS</h3>
        <div class="cx-txt-footer">
            <h4>
                Por que o sortimento é essencial
            </h4>
            <a href="#" download class="link-download">
              Fazer Download
            </a>
        </div>
        <div class="cx-txt-footer">
            <h4>
                Por que o sortimento é essencial
            </h4>
            <a href="#" download class="link-download">
              Fazer Download
            </a>
        </div>
        <div class="cx-txt-footer">
            <h4>
                Por que o sortimento é essencial
            </h4>
            <a href="#" download class="link-download">
              Fazer Download
            </a>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
          <div class="cx-txt-footer">
              <h3 class="title-footer">
                  RECEBA NOSSA NEWSLETTER
              </h3>
              <form action="#">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Digite aqui seu E-mail">
                </div>
                <div class="row">
                  <div class="col-12">
                      <button class="btn  pull-right">Cadastrar-se</button>
                  </div>
                </div>

              </form>
          </div>
          <div class="cx-txt-footer">
            <h3 class="title-footer">Faça parte de nosso time</h3>
            <a href="#">Ver Vagas</a>
          </div>
          <div class="cx-txt-footer">
              <h3 class="title-footer">Manual da marca Stringhini</h3>
              <a href="#">Ver manual</a>
            </div>
      </div>
    </div>
  </div>
</footer>
