footer{
  position: relative;
  display: block;
  min-width: 100%;
  max-width: 100%;
  background-color: #000000;
  height: auto;
  padding: 80px 0;
}
.title-footer{
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

.icons-footer{
  font-size: 24px;
  color: #ffffff;
  padding: 25px 0;
}

.cx-txt-footer{
  list-style: none;
  text-align: left;
  color: #ffffff;
  margin-bottom: 15px;
  border-bottom: 0.5px solid #ffffff;
}

.cx-txt-footer:last-child{
  border-bottom: none;
}
.cx-txt-footer h4{
  font-size: 16px;
}

.cx-txt-footer p{
  color: #f4792a;
}
.cx-txt-footer a{
  color: #ffffff;
  height: 40px;
  position: relative;
  display: inline-block;
}

.cx-txt-footer button{
  margin-bottom: 20px;
  background-color: #f4792a;
  color: #ffffff;
}
.cx-txt-footer a:hover{
  color: #f4792a;
}
.link-download{
  color: #f4792a !important;
}

.link-download:hover{
  color: #ec1e45 !important;
}
