<ngb-carousel *ngIf="linksCarousel">
    <ng-template ngbSlide *ngFor="let car of linksCarousel" >
      <img class="img-carousel  img-fluid"   [src]="car['url']" alt="Stringhini - A equipe da sua loja treinada">
    </ng-template>    
</ngb-carousel>
