<div class="container">
  <div class="row">
    <div class="col-12 title-page">
        <h2 class="text-center">VEJA AQUI NOSSAS SOLUÇÕES PARA SUA LOJA</h2>
      <div class="barras-logo">
          <div class="barra-a"></div>
          <div class="barra-b"></div>
      </div>    
    </div>
  </div>
  <div class="row servico-explane">
    <aside class="col-md-3">
      <h3>TECNOLOGIA</h3>
    </aside>
    <article class="col-md-8 col-offset-md-1">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, nostrum et voluptates doloremque autem perspiciatis ipsam fuga repellat ipsum, iusto ullam quaerat consequuntur, temporibus nemo. Facilis architecto mollitia quasi quo.
    </article>
  </div>
</div>
