.inf-contatos{
  padding-left: 25%;
}
.icons-contato{
  padding-left: 28%;
}

.btn-contato{
  color: #ffffff;
  background-color: #f4792a;
  float: right;
  font-size: 16px;
  font-weight: 500;
}

.contato{
  padding: 80px 0;
}

@media only screen and (max-width: 360px) {
  .inf-contatos, .icons-contato{padding: 0; }
}
