<div class="row contato" >
  <div class="col-12" >
    <h2 class="text-center">
      Contato
    </h2>
    <div class="barras-logo">
        <div class="barra-a"></div>
        <div class="barra-b"></div>
      </div>
  </div>
</div>
<div class="row contato">
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <form action="#">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nome">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="E-mail">
          </div>
          <div class="form-group">
            <textarea name="mensagemcontato" id="mensagemcontato" class="form-control" placeholder="Mensagem"></textarea>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-contato">ENVIAR</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
    <p class="inf-contatos">
      <i class="fa fa-envelope"></i> contato@stringhini.com.br
    </p>
    <p class="inf-contatos">
      <i class="fa fa-phone"></i> +55 51 3224 >
    </p>
    <p class="inf-contatos">
      <i class="fa fa-map-marker"></i> Praça XV de Novembro, 21/1402 - Porto Alegre – RS
    </p>
    <p class="inf-contatos">
      <i class="fa fa-map-marker"></i> Rua Alexandre Dumas, 1711 Birmann 11- 5o andar São Paulo – SP
    </p>

    <div class="row">

        <div class="col-6 icons-contato">
          <i class="fa fa-facebook-official"></i>
          <i class="fa fa-youtube"></i>
          <i class="fa fa-instagram"></i>
        </div>
    </div>
  </div>
</div>
