#animation{
  position: relative;
  display: block;
  width: 651px;
  margin: 0 auto;
  border: 0px;
  height: 359px;
}

.ponto-venda{
  margin-top: 70px;
}

@media only screen and (max-width: 600px) {
  #animation{display: none;}
}

.txt-consumidor{
  position: relative;
  display: inline-block;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  z-index: 9999999;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.06);
}
.frase-esquerda-animacao, .frase-direita-animacao{
width: 30%;
height: auto;
position: relative;
display: inline-block;
padding-top: 9%;
}
.icone-meio-animacao{
position: relative;
display: inline-block;
width: 15%;
left: 15%;
bottom: 0%;
}

.frase-esquerda-animacao{
float: right;
color: rgb(0, 179, 45) !important;

}
.frase-direita-animacao{
color: #243d82;
}

.text-introd-animacao{
color: #6e6e6e;
max-width: 650px;
font-size: 29px;
padding-top: 15%;
position: relative;
display: block;
margin: 0 auto;
}

#segmento{
  padding: 40px 0;
}
