
  <section id="carousel">
    <app-carousel></app-carousel>
  </section>
  <section class="container" id="segmento">
    <div class="row">
      <div class="col-12">
        <select-segmento></select-segmento>
      </div>
    </div>
  </section>
  <section class="faixa-azul">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="frase-faixa">
            <h2 class="text-center">BAIXE NOSSOS E-BOOK
              <a class="laranja pointer" href="http://localhost:4200/ebooks">AQUI</a>
            </h2>
          </div>          
        </div>
      </div>
    </div>
  </section>
  <section class="banner-servicos">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="barras-logo">
            <h2 class="text-center">SERVIÇOS</h2>
            <div class="barra-a"></div>
            <div class="barra-b"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <div class="servico">
            <img class="img-servicos" src="../assets/images/icones/consultoria-stringhini.png" alt="Stringhini - Consultoria para o Varejo">
            <br>
            <button class="btn btn-c1 btn-lg" title="Consultoria especializada para o varejo">
              Consultoria & Treinamento
            </button>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
          <div class="servico">
            <img class="img-servicos" src="../assets/images/icones/tecnologia-stringhini.png" alt="Stringhini - Tecnologia com Inteligência artificial para o Varejo">
            <br>
            <button class="btn btn-c1 btn-lg" title="Serviços de Tecnologia e Inteligência artificial para o varejo">
              Tecnologia
            </button>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section id="consumidor">
    <div class="container ">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center ponto-venda">CONSUMIDOR SATISFEITO SEMPRE
            <span class="laranja">RETORNA</span>
          </h2>
          <div class="barras-logo">
            <div class="barra-a"></div>
            <div class="barra-b"></div>
          </div>
        </div>
      </div>
      <div class="row col-xs-hidden col-sm-hidden">
        <div class="col-12">
          <h4 class=" text-center  text-introd-animacao">
            O cliente entra pra comprar um determinado produto
          </h4>
        </div>
        <div class="col-12 col-xs-hidden col-sm-hidden">
          <div class="frase-direita-animacao">
            <p class="txt-consumidor">
              Quando encontra o que procura, sente-se atendido e retorna sempre.
            </p>
          </div>
          <div class="icone-meio-animacao">
            <img src="../assets/images/icones/ou.png" alt="Stringhini Varejo - Ou o cliente encontra o que procura ou vai embora">
          </div>
          <div class="frase-esquerda-animacao ">
            <p class="txt-consumidor">
              Se ele não encontra o que procura, deixa de frequentar a loja.
            </p>
          </div>
        </div>
        <iframe id="animation" src="http://www.stringhini.com.br/animacao/" allowtransparency="yes" frameborder="no"></iframe>
      </div>
    </div>
  </section>
  <section id="modalidades">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="frase-grande">
            <h2 class="text-center">CONHEÇA NOSSAS
              <span class="laranja pointer">MODALIDADES DE SERVIÇO</span>
            </h2>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-lg btn-grande">
            SAIBA MAIS
          </button>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
      <app-contato></app-contato>
  </div>
