<nav class="navbar navbar-expand-lg navbar-light ">
  <button (click)="verificaSeExisteClass()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="menu-site" *ngIf="menu">
      <li class="nav-item" *ngFor="let m of menu.items">
        <a class="nav-link active" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="m.post_title"> {{ m.post_title }} </a>
      </li>
    </ul>
  </div>
</nav>
