ul > li > a{
    font-size: 16px;
    padding: 10px 8px 42px 10px;
    display: block;
    color: #282e3a;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;  
    display: inline;
    position: relative;
    margin-left: 30px;
    padding: 10px 10px 42px 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: none;    

}

ul > li > a:hover{
    color: #fe5e3e;
}

#menu-site{
    padding-top: 40px;
}