<div class="container" *ngIf="!preencherDados; else formEbook">
  <div class="row">
    <div class="col-12" *ngFor="let ebook of downEbooks " id="ebookDown">
      <div [id]="'tituloEbook_' + ebook.id" class="titulo-ebook">

      </div>
      <article [id]="'descricao_' + ebook.id" class="descricao-ebook">

      </article>
      <a class="btn btn-download-ebook" (click)="baixarEbook()">
        Fazer Download do e-book
      </a>
    </div>
  </div>
</div>
<ng-template #formEbook>
  <div class="container">
    <div class="row" *ngIf="!podeBaixar">
      <div class="col-12">
        <h3 class="text-center title-servicos-segmento">Por favor preencha os seus dados para que possamos liberar o download do E-book</h3>
        <p class="text-info text-center">Nós também não gostamos de spans e ligações inconvenientes e garantimos que não faremos isto com você.</p>
      </div>
    </div>
    <form action="#" *ngIf="!podeBaixar; else autorizaDownload">
      <div class="row">
        <div class="col--md-6 col-lg-6 col-xs-12 col-sm-6">
          <div class="form-group">
            <label for="nome">Seu Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite aqui seu nome">
          </div>
        </div>
        <div class="col--md-6 col-lg-6 col-xs-12 col-sm-6">
          <div class="form-group">
            <label for="email">Seu E-mail</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Digite aqui seu melhor e-mail">
          </div>
        </div>
        <div class="col--md-6 col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="telefone">Seu Telefone</label>
              <input type="tel" class="form-control" name="telefone" id="telefone" placeholder="Digite aqui seu telefone">
            </div>
          </div>      
          <div class="col--md-6 col-lg-6 col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="linkedin">Seu Linkedin</label>
                <input type="text" class="form-control" name="linkedin" id="linkedin" placeholder="Digite aqui seu linkedin">
              </div>
            </div>              
        <div class="col-6">
          <div class="form-group">
            <label for="estado">Estado</label>
            <select name="estado" id="estado" class="form-control">
              <option value="rs">Rio Grande do Sul</option>
              <option value="rs">São Paulo</option>
              <option value="rs">Brasilia</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="cidade">Sua Cidade</label>
            <input type="text" id="cidade" name="cidade" class="form-control" placeholder="Digite aqui o nome de sua cidade">
          </div>
        </div>

        <div class="col-12">
          <button class="btn btn-download-ebook btn-block btn-margin" (click)="enviarDadosEbook()">
            ENVIAR E BAIXAR E-BOOKS
          </button>
        </div>
      </div>

    </form>
    <ng-template #autorizaDownload>
        <div class="row">
            <h2 class="laranja text-center">
              PRONTO AGORA É SÓ BAIXAR
            </h2>
            <div class="col-12" *ngFor="let ebook of downEbooks " id="ebookDown">
              <div [id]="'tituloEbook_' + ebook.id" class="titulo-ebook">
                
              </div>
              <article [id]="'descricao_' + ebook.id" class="descricao-ebook">
        
              </article>
              <a class="btn btn-download-ebook" [href]="ebook.url" target="_blank">
                Fazer Download do e-book
              </a>
            </div>
          </div>
    </ng-template>
  </div>
</ng-template>