<header>
  <div class="container-fluid bkg-top">
    <div class="row">
      <div class="col-md-2 col-lg-2 col-xs-6 col-sm-6 offset-md-1">
        <i class="fa fa-phone"></i> +55 51 3224 7979
      </div>
      <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
        <i class="fa fa-envelope"></i> contato@stringhini.com.br
      </div>
    </div>
  </div>
  <div class="container" id="menu-home">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
        <img src="../assets/images/logo.png" alt="Logotipo Stringhini">
      </div>
      <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12">
        <app-menu></app-menu>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<app-footer></app-footer>
