<div class="container" id="blog">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">BLOG</h2>
      <p class="text-center">
        Mantenha-se informado com as últimas notícias da Stringhini
      </p>
      <div class="barras-logo">
        <div class="barra-a"></div>
        <div class="barra-b"></div>
      </div>
    </div>
  </div>
  <div class="row" id="conteudo-blog">
    <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12" id="artigo-blog">
      <div *ngFor="let post of listaPosts" id="post-resume">
        <div class="row">
          <div class="col-12">
            <p class="date-article" [id]="'dataPost_' + post.id">

            </p>
          </div>
        </div>
        <h5 class="text-left tituloPost" id="'tituloPost_' + id">
          {{ post.titulo }}
        </h5>
        <p class="especificacoes text-left" [id]="'especificacoes_' + post.id ">
          <span class="autorPost" [id]="'autorPost_' + post.id"></span>
          <span class="flagPost" [id]="'flagPost_' + post.id"></span>
          <span class="nrComentarios" [id]="'nrComentarios_' + post.id"></span>
        </p>
        <div [id]="'contextoArtigo_' + post.id " class="conteudoArtigo">

        </div>

        <a href="" class="btn btn-white">
          LEIA MAIS
        </a>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <img src="../../../assets/images/icones/search.png" alt="">
          </span>
        </div>
        <input type="search" (keyup)="searchWords($event)" class="form-control" placeholder="Pesquisar" id="ipt-search" aria-label="pesquisar" aria-describedby="basic-addon1">
      </div>
      <div class="row">
        <div class="col-12">
          <h5 id="title-categ-list">CATEGORIAS</h5>
          <ul class="list-style-blog">
            <li class="list-item" *ngFor="let categ of categorias">
              <a href="#">
                {{ categ.name }}
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="row" id="paginacaoBlog">
    <div class="col-12">
      <nav aria-label="...">
        <ul class="pagination pagination-lg" *ngIf="posts">
            <div *ngFor="let pag of posts; let idx = index">
                <li class="page-item" *ngIf="idx <= paginaFim && idx > 0">
                    <a class="page-link" (click)="pagination(idx)">
                      {{ idx }}
                    </a>
                  </li>
            </div>       
        </ul>
      </nav>
    </div>
  </div>
</div>