<section id="cases">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">
          HISTÓRIAS DE SUCESSO
        </h2>
      </div>
      <div class="col-12">
        <ul class="nav" id="menu-cases">
          <li class="nav-item">
            Cliente
          </li>
          <li class="nav-item">
            Serviço
          </li>
          <li class="nav-item">
            Resultado
          </li>
          <li class="nav-item">
            Depoimento
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <h4 class="text-center">Agafarma</h4>
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eum non? Repellendus velit sunt facilis veritatis! Voluptates sunt rerum sit quisquam. Harum architecto excepturi quisquam labore saepe magnam aspernatur quia?
          </p>
      </div>
    </div>
  </div>

</section>
