#cases{
  background-color: #233E81;
  color: #ffffff;
  padding: 40px 0;
}

#cases h2{
  font-weight: 700;
}

#menu-cases{
  width: 50%;
  margin-left: 31%;
}
#menu-cases li{
  padding: 20px;
}

#menu-cases li:hover{
  color: #f4792a;
  cursor: pointer;
}
