/* #segmentos{
    margin-top: 60px;
}

.title-segment{
    color: #233E81;
    font-size: 18px;
    font-weight: 600;
    padding-top: 19px;
    position: absolute;
    display: inline-block;
    padding-left: 15px;
    
}

.img-segment{
    max-height: 60px;
    margin-bottom: 20px;
} */
