#planos{
  padding: 80px 0;
}

#title-planos{
  padding: 80px 0;
}

#title-planos h2{
  font-size: 48px;
  font-weight: 800;
}

.itens-planos li{
  text-align: center;
}

.itens-planos button{
  margin-top: 20px;
  margin-bottom: 20px;
}
.itens-planos h4{
  color: #233E81;
  font-size: 32px;
  font-weight: 700;
}
.plano-container{
  margin: 20px 0;
}
