<section id="planos">
  <div class="container">
    <div class="row">
      <div class="col-12" id="title-planos">
        <h2 class="text-center">
          CONHEÇA NOSSOS PLANOS
        </h2>
        <div class="barras-logo">
          <div class="barra-a"></div>
          <div class="barra-b"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
        <ul class="list-group itens-planos">
          <li class="list-group-item">
              <h4>PLENO</h4>
          </li>
          <li class="list-group-item">
            Item 2
          </li>
          <li class="list-group-item">
            Item 2
          </li>
          <li class="list-group-item">
            Item 3
          </li>
          <li class="list-group-item">
              <button class="btn btn-c1 btn-center">
                  CONTRATAR
              </button>
          </li>
        </ul>

      </div>
      <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 plano-container">
          <ul class="list-group itens-planos">
            <li class="list-group-item">
                <h4>SENIOR</h4>
            </li>
            <li class="list-group-item">
              Item 2
            </li>
            <li class="list-group-item">
              Item 2
            </li>
            <li class="list-group-item">
              Item 3
            </li>
            <li class="list-group-item">
                <button class="btn btn-c1 btn-center">
                    CONTRATAR
                </button>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
            <ul class="list-group itens-planos">
              <li class="list-group-item">
                  <h4>MASTER</h4>
              </li>
              <li class="list-group-item">
                Item 2
              </li>
              <li class="list-group-item">
                Item 2
              </li>
              <li class="list-group-item">
                Item 3
              </li>
              <li class="list-group-item">
                  <button class="btn btn-c1 btn-center">
                      CONTRATAR
                  </button>
              </li>
            </ul>

          </div>
    </div>
  </div>
</section>
