/* You can add global styles to this file, and also import other style files */
.bkg-top{
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    height: auto;
    padding: 20px;
}

#menu-home{
    margin-top: 20px;
    margin-bottom: 40px;
}


#carousel{
    width: 100%;
}

.pointer{
    cursor: pointer;
}

.title-a{
    font-size: 51px;
    font-weight: bold;
    margin-top: 40px;
}

.btn-c1{
    background-color: #233E81;
    color: #ffffff;
}
.btn-c1:hover{
  background-color: rgb(19, 47, 119);
}

.faixa-azul{
    width: 100%;
    height: auto;
    background-color: #233E81;
    position: relative;
    display: block;
    margin: 0 auto;
}
.laranja{
    color: #F7931D !important;
}

.frase-faixa {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    padding-top: 10px;
}
.frase-grande{
  padding: 80px 0;
}

.frase-grande h2{
  font-size: 40px;
  font-weight: 900;
}

.btn-grande{
  background-color: #f4792a;
  color: #ffffff;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 250px;
  padding: 25px 0;
  margin-bottom: 80px;
}
.btn-margin{
    margin: 40px 0;
}

.title-page{
    padding: 60px 0;
}
#consumidor{
    background-image: url('./assets/images/backgrounds/bg-consumidor.jpg');
}

.banner-servicos{
    width: 100%;
    height: auto;
    background-image: url('./assets/images/backgrounds/fundo-test.jpg');
    position: relative;
    padding: 80px 0;
}

.barras-logo{
    width: 150px;
    height: 20px;
    position: relative;
    display: block;
    margin: 0 auto;
}
.barras-logo h2{
    color: #ffffff;
    font-weight: 700;
}
.barra-a{
    width: 68px;
    height: 5px;
    float: left;
    display: inline-block;
    background-color: #F7931D;
}

.barra-b{
    width: 68px;
    height: 5px;
    display: inline-block;
    float: right;
    background-color: #2E3092;
}

.servico{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 250px;
    margin-top: 80px;
}
.servico img, .servico button{
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.btn-center{
  margin: 0 auto;
  position: relative;
  display: block;
}


#segmentos{
    margin-top: 60px;
    padding-left: 10.5%;
}

.title-segment{
    color: #233E81;
    font-size: 18px;
    font-weight: 600;
    padding-top: 19px;
    position: absolute;
    display: inline-block;
    padding-left: 15px;
    
}

.img-segment{
    max-height: 60px;
    margin-bottom: 20px;
}

.servico h4{
    color: #233e81;
    font-weight: 400;
  }
  .title-servicos-segmento{
    padding-top: 80px;
  }
  
  .title-servicos-segmento h2{
    font-weight: 600;
  }
  
  .attachment{
      display: none !important;
  }

  .titulo-ebook p{
    font-size: 25px;
    color: #243d82;
    font-weight: 700;    
    padding-bottom: 16px;      
  }
  .descricao-ebook p:last-child{
    font-size: 16px;
    font-weight: 600;

  }
  .btn-download-ebook{
    background-color: #f4792a;
    color: #ffffff !important;
    font-size: 16px;
  }

  #ebookDown{
      padding: 40px 0;
      border-bottom: 2px solid #233e81;
  }
  #ebookDown:last-child{
      border-bottom: none;
      margin-bottom: 100px;
  }

  .servico-explane{
      padding: 40px 0;
  }

  .servico-explane h3{
      padding-top: 25px;
      color: #f4792a;
      text-decoration: underline;
  }


  /*blog*/

  .date-article{
    background-color: #f4792a;
    width: 36%;
    text-align: center;
    color: #fff;
    padding: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;      
  }

  .date-article::before{
    content: '';
    position: relative;
    float: left;
    width: 6px;
    right: 5px;
    bottom: 47px;
    height: 74px;
    background-color: #f4792a;
  }

  .btn-white, .btn-white:focus, .btn-white:active {
    padding: 8px 28px 8px 29px;
    border: 2px solid #282e3a;
    background-color: #fff;
    color: #282e3a;
    font-weight: 500;
    margin: 40px 0;
    border-radius: 25px;
}

.btn-white:hover{

    background-color: #282e3a;
    color: #ffffff;
    transition: all 0.8s;    
}
#conteudo-blog{
    margin-top: 100px;
   
}
#basic-addon1{
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 
}
#ipt-search{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
}

.list-style-blog{
    padding-left: 15px;
    list-style-image: url("./assets/images/icones/mark.png") !important;
}
.list-style-blog .list-item{
    padding: 5px 0;
}
.list-style-blog .list-item:hover{
    list-style-image: url("./assets/images/icones/mark-hover.png") !important;
}
.list-style-blog a{
    color: #000000;
}
.list-style-blog a:hover{
    color: #fe5e3e;
}
#title-categ-list{
    padding: 20px 0;
    font-weight: 700;    
}

#artigo-blog{
    padding-right: 8%;
}

#post-resume{
    margin-bottom: 80px;
}
#blog{
    padding-top: 60px;
}

.conteudoArtigo{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.conteudoArtigo::after{
    content: '[...]';
    position: relative;
    width: 40px;
    height: 10px;
}
#paginacaoBlog{
    margin-bottom: 80px;
}